<html>
  <head>
  </head>
<body>

<img src="{{logo}}">

<p style="position: relative;left: 8cm;">
  {{Vorname}} {{Name}}<br>
  {{Strasse}}<br>
  {{PLZ}} {{Ort}}
</p>


<p>Rechthalten, 26. Februar 2016</p>

<h1>Rechnung</h1>

<p>Hallo {{Vorname}},</p>

<p>anbei erhälst du die Rechnung für das Trainingslager in Lido di Jesolo, Italien vom 24. März 2016 bis 1. April 2016. Der TSV Rechthalten beteiligt sich mit einem Betrag von Fr. 200.- pro Athlet.</p>

<p>Trainingslager 2016</p>
<p>Beitrag TSV Rechthalten</p>
<p>Abzug Einsatz Murtenlauf</p>
<p>Total</p>

<p>Rechnung zahlbar bis 21. März 2016 an</p>

<p>Konto Info:<br>
Raiffeisenbank Aergera-Galtera<br>
Leichtathletik<br>
Postfach52<br>
1718 Rechthalten<br>
IBAN  CH47 8089 5000 0061 5382 6</p>

<p>Sportliche Grüsse</p>

<p>TSV Rechthalten</p>
<p>Abteilung Leichtathletik</p>

</body>
</html>
